<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loafarm.custompost.dao.CustomPostMapper">
	<insert id="insertCustomPost" parameterType="map">
		INSERT INTO `custom_post`
		(
			`userId`
			, `subject`
			, `type`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{subject}
			, #{type}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectCustomPostListByLimit" resultType="com.loafarm.custompost.model.CustomPost">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `type`
			, `recommendCount`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`custom_post`
		ORDER BY
			`id` DESC
		LIMIT #{limit}
	</select>
	<select id="selectCustomPostList" resultType="com.loafarm.custompost.model.CustomPost">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `type`
			, `recommendCount`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`custom_post`
		ORDER BY
			`id` DESC
	</select>
	<select id="selectCustomPostById" parameterType="int" resultType="com.loafarm.custompost.model.CustomPost">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `type`
			, `recommendCount`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`custom_post`
		WHERE
			`id` = #{customPostId}
	</select>
	<select id="selectCustomPostByPostIdUserId" parameterType="map" resultType="com.loafarm.custompost.model.CustomPost">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `type`
			, `recommendCount`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`custom_post`
		WHERE
			`id` = #{customPostId}
			AND `userId` = #{userId}
	</select>
	<select id="selectCustomPostListOrderByPostIdRecommendCount" resultType="com.loafarm.custompost.model.CustomPost">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `type`
			, `recommendCount`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`custom_post`
		ORDER BY
			`recommendCount` DESC, `id` DESC
	</select>
	<update id="updateRecommendCount" parameterType="map">
		UPDATE `custom_post`
		SET
			`recommendCount` = #{recommendCount}
		WHERE
			`id` = #{customPostId}
			AND `type` = #{type}
	</update>
	<update id="updateCustomPostByPostId" parameterType="map">
		UPDATE `custom_post`
		SET
			`subject` = #{subject}
			, `imagePath` = #{imagePath}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{customPostId}
	</update>
	<delete id="deletePostByPostIdUserId" parameterType="map">
		DELETE
		FROM
			`custom_post`
		WHERE
			`id` = #{customPostId}
			AND `userId` = #{userId}
	</delete>
</mapper>