<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loafarm.freepost.dao.FreePostMapper">
	<insert id="insertFreePost" parameterType="map">
		INSERT INTO `free_post`
		(
			`userId`
			, `category`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{category}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectFreePostList" resultType="com.loafarm.freepost.model.FreePost">
		SELECT
			`id`
			, `userId`
			, `category`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`free_post`
		ORDER BY
			`id` DESC
	</select>
	<select id="selectFreePostListByCategory" resultType="com.loafarm.freepost.model.FreePost">
		SELECT
			`id`
			, `userId`
			, `category`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`free_post`
		WHERE
			`category` = #{category}
		ORDER BY
			`id` DESC
	</select>
	<select id="selectFreePostById" parameterType="int" resultType="com.loafarm.freepost.model.FreePost">
		SELECT
			`id`
			, `userId`
			, `category`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`free_post`
		WHERE
			`id` = #{freePostId}
	</select>
</mapper>