<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.loafarm.guildpost.dao.GuildPostMapper">
 	<insert id="insertGuildPost" parameterType="map">
 		INSERT INTO `guild_post`
 		(
			`userId`
			, `subject`
			, `address`
			, `maxCount`
			, `content`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{subject}
 			, #{address}
 			, #{maxCount}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 		<select id="selectGuildPostByUserId" resultType="com.loafarm.guildpost.model.GuildPost">
 		SELECT
 			`id`
			, `userId`
			, `subject`
			, `address`
			, `content`
			, `maxCount`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`guild_post`
 		WHERE
 			`userId` = #{userId}	
 	</select>
 	<select id="selectGuildPostList" resultType="com.loafarm.guildpost.model.GuildPost">
 		SELECT
 			`id`
			, `userId`
			, `subject`
			, `address`
			, `content`
			, `maxCount`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`guild_post`
 		ORDER BY `id`	DESC
 	</select>
 	<select id="selectGuildPostById" parameterType="int" resultType="com.loafarm.guildpost.model.GuildPost">
	 		SELECT
	 			`id`
				, `userId`
				, `subject`
				, `address`
				, `content`
				, `maxCount`
				, `createdAt`
				, `updatedAt`
	 		FROM
	 			`guild_post`
	 		WHERE
	 			`id` = #{guildPostId};
 	</select>
 	<select id="selectGuildPostMyList" resultType="com.loafarm.guildpost.model.GuildPost">
 		SELECT
 			`id`
			, `userId`
			, `subject`
			, `address`
			, `content`
			, `maxCount`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`guild_post`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	<update id="updateGuildPost" parameterType="map">
 		UPDATE
 			`guild_post`
 		SET
			`subject` = #{subject}
			, `address` = #{address}
			, `content` = #{content}
			, `maxCount` = #{maxCount}
			, `updatedAt` = NOW()
 		WHERE
 			`userId` = #{userId}
 			AND `id` = #{postId}
 	</update>
 	<delete id="deleteGuildPostByPostIdUserId" parameterType="map">
 		DELETE
 		FROM
 			`guild_post`
 		WHERE
 			`id` = #{guildPostId}
 			AND `userId` = #{userId}
 	</delete>
 </mapper>