<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.loafarm.subuser.dao.SubUserMapper">
 	<insert id="insertSubUserByUserIdPostId" parameterType="map">
 		INSERT INTO `sub_user`
 		(
			`userId`
			, `postId`
			, `content`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<select id="selectSubUserByUserId" resultType="com.loafarm.subuser.model.SubUser">
 		SELECT
 			`id`
			, `userId`
			, `postId`
			, `content`
			, `state`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`sub_user`
 		WHERE
 			`userId` = #{userId}
 			AND `state` = '대기중'
 			OR `userId` = #{userId}
 			AND `state` = '수락'
 	</select>
 </mapper>