@charset "UTF-8";
/* font-family import */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Noto+Sans+KR:wght@500;900&display=swap');

/* main */
#wrap{width:75%;background-color:#FFFFE4; margin: 0 auto;
min-width:1200px;}
header{height:100px; background-color:#B2CCFF;}
.logo-font a{margin-left:20px;font-size:48px;font-weight:bold;font-family: 'Frank Ruhl Libre', serif;
font-family: 'Noto Sans KR', sans-serif;color:#000000;}
.logo-font a:hover{color:#000000;text-decoration:none;}
.menu{height:50px; background-color:#CEFBC9;}
.img-size{height:300px;  background-color:#D4F4FA;}
.menu a{font-size:24px;font-family: 'Frank Ruhl Libre', serif;
font-family: 'Noto Sans KR', sans-serif;}
.lg-btn{margin-right:30px;}
.loa-hot-board{margin-top:50px;width:50%; height:200px; background-color:#B5B2FF;}
.lf-hot{color:#ffffff;font-weight:bold;font-size:20px;}
.lf-today{margin-left:60px;font-size:12px;}
.content2{height:550px;background-color:#FFB2D9;padding-top:30px;}
.cm-subject{margin-left:50px;font-size:24px; font-weight:bold;}
.cate{font-size:17px;font-weight:bold;}
.txt{font-size:17px;}
.today-content{min-height:151px;}
.today-list{display:flex;flex-flow:row wrap;}
.today-list li{width: calc(100% / 2);display:flex;flex-flow:row wrap;}
.today-list a{max-width:86%;height: 100%;}
.custom-best-box{margin:10px 25px 0px 25px;background-color:#ffffff;width:300px;box-shadow:3px 3px 3px 3px #BDC0C0;}
.card{width:250px;border:none;}
.card-subject{font-size:17px;font-weight:bold;}
.card-nickname{font-size:17px;font-weight:200;}
.content3{height:350px;background-color:#FFA7A7;}
.article-left{width:calc(50% - 5px);background-color:#B2CCFF;}
.article-right{width:calc(50% - 5px);background-color:#B2EBF4;}
.article-title{height:60px;background-color:#ffffff;}
.guild-title{margin-left:50px;font-size:20px;font-weight:bold;}
.notice-title{margin-left:50px;font-size:20px;font-weight:bold;}
.article-tb{width:400px;}
.article-tb td{font-size:12px;}

/* free_list_view */
.fp-content{width:60%;height:600px;background-color:#ffffff;}
.fp-title{font-size:32px;margin-top:30px;margin-left:30px;font-weight:bold;}
.rc-btn{margin-left:70px;height:30px;margin-top:25px;}
.rc-btn a{display:block;
    margin:0 10px 0 0;
    padding:0 10px 0 9px;
    height:28px;
    float:left;
    background:#fff;
    font-size:12px;
    text-decoration:none;
    line-height:26px;
    border:1px solid #aaa;
    border-radius:3px;
    box-sizing:border-box;
}
.rc-btn a::before{
	content:"";
    display:inline-block;
    position:relative;
    top: 3px;
    height:16px;
    margin-right: 3px;
}
.rc-btn a.reco1::before{
	background-image:url("/static/img/free/bluegood.png");
	background-repeat: no-repeat;
	background-size:16px 16px;
	width:16px;
}
.rc-btn a.reco3::before{
	background-image:url("/static/img/free/redgood.png");
	background-repeat: no-repeat;
	background-size:16px 16px;
	width:16px;
}
.cate-area a::after{content:"";
    display:block;
    position:absolute;
    width:1px;
    height:10px;
    top:50%;
    right:0;
    margin:-5px -5px 0 0;
    background:#ccc;}
.cate-area{margin-left:50px;margin-top:5px;}
.cate-area a{position:relative;
float:left;margin:0 4px 5px 5px;
padding:2px 13px 3px;color:#000000;}
.cate-area a:hover{text-decoration:none;}
.active{background:#6d6d6d;color:#ffffff;border-radius:10px;}

/* free_create_view */
.fc-write-content{width:60%;background-color:#ffffff;}
.fc-write-title{font-size:32px;margin-top:30px;margin-left:30px;font-weight:bold;}
.form-select{margin-top:20px;margin-left:40px;width:120px;}
.fc-write-box{margin-bottom:50px;width:80%;background-color:#ffffff;}
.free-subject{margin-top:20px;margin-left:40px;}
.free-content{margin-top:20px;margin-left:40px;}
.fc-img-box{margin-top:20px;margin-left:40px;}
.fc-file{margin-left:40px;margin-top:20px;}
.fc-save{font-size:12px;}
.fc-save:hover{background-color:#000000;}
.fc-clear{font-size:12px;}
.fc-list{color:#8C8C8C;background-color:#ffffff;border-color:#BDBDBD;}
.fc-list:hover{color:#000000;}
.fc-btn-box{height:30px;width:250px;}

/* free_detail_view */
.fd-content{width:60%;background-color:#B2EBF4;}
.fd-header{margin-top:30px;background-color:#B2CCFF;height:60px;}
.fd-user-name{margin-left:10px;margin-bottom:5px;font-size:24px;font-weight:bold;}
.fd-category{margin-top:20px;font-size:18px;}
.fd-box{width:80%;background-color:#FFB2D9;}
.fd-subject{margin-top:40px;font-size:28px;word-wrap:break-word;}
.fd-text{margin-top:30px;white-space:pre-line;}
.fd-img{margin-top:30px;}
.fd-like-count{margin-left:7px;font-weight:bold;font-size:16px;color:#CC3D3D;}
.fd-like-box{margin-top:100px;border-radius:5%;width:90px;height:55px;background-color:#ffffff;border:1px solid #8C8C8C;}
.fd-bottom{height:100px;background-color:#B2CCFF;}
.fd-commend-box{height:200px;background-color:#FFB2D9;}
footer{height:100px;background-color:black;color:#ffffff;}